POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
POSTGRES_DB=app_dev

REDIS_PASSWORD=change_me

PGADMIN_EMAIL=admin@dev.sby.test
PGADMIN_PASSWORD=change_me

MINIO_USER=minioadmin
MINIO_PASSWORD=change_me

RABBITMQ_USER=admin
RABBITMQ_PASSWORD=change_me

ADMINER_DESIGN=pepa-linha
